<%- include('header') -%>

<body>
    <h1 class="h1compteUser">Mon Compte</h1>

    <form action="/updateUser" method="post" class="user-info">
        
        <div>
            <label for="prename">Prénom:</label>
            <input type="text" id="prename" name="prename" value="<%= user.prename %>" >
        </div>
        <div>
            <label for="name">Nom:</label>
            <input type="text" id="name" name="name" value="<%= user.name %>" >
        </div>
        <div>
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" value="<%= user.email %>" >
        </div>
        <div>
            <label for="age">Âge:</label>
            <input type="text" id="age" name="age" value="<%= user.age %>">
        </div>
        <div>
            <label for="taille">Taille:</label>
            <input type="text" id="taille" name="taille" value="<%= user.taille %>">
        </div>
        <div>
            <label for="poids">Poids:</label>
            <input type="text" id="poids" name="poids" value="<%= user.poids %>">
        </div>
        <div>
            <label for="adresse">Adresse:</label>
            <input type="text" id="adresse" name="adresse" value="<%= user.adresse %>" >
        </div>
        <div>
            <label for="choixformule">Choix de la formule:</label>
            <select id="choixformule" name="choixformule" required >
                <option value="1" <%= user.choixformule === '1' ? 'selected' : '' %>>Junior(7 ans/14 ans)</option>
                <option value="2" <%= user.choixformule === '2' ? 'selected' : '' %>>Loisir/Débutant</option>
                <option value="3" <%= user.choixformule === '3' ? 'selected' : '' %>>Amateur/Elite</option>
            </select>
        </div>

        <% if (locals.user.role === "admin") { %>

        <div>
            <label for="role">Rôle:</label>
            <input type="text" id="role" name="role" value="<%= user.role %>" >
        </div>

        <% } 

        else { %>
        <div>
            <label for="role">Rôle:</label>
            <input type="text" id="role" name="role" value="<%= user.role %>" readonly >
        </div>
         <% } %>
        
        <button type="submit">Valider la Modif</button>
    </form>

    <a href="/deleteUser" class="delete-btn">Supprimer</a>

    <script src="script.js"></script>
<%- include('footer') -%>
